.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-heading {
  color: #ecf0f1;
  font-size: 50px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fiveunits);
  letter-spacing: 2px;
  text-transform: none;
  text-decoration: none;
}
.home-content-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 0px;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 40%;
  object-fit: cover;
  padding-top: 0px;
  padding-bottom: 0px;
}
.home-text {
  color: #26a7de;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text01 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text02 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text04 {
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text06 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text10 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text14 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text18 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text22 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text26 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text29 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text35 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text43 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text46 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text47 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-text48 {
  color: rgb(236, 240, 241);
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  color: rgb(236, 240, 241);
  font-size: 14px;
  text-align: center;
}
@media(max-width: 1600px) {
  .home-heading {
    color: #ecf0f1;
    letter-spacing: 2px;
  }
  .home-image {
    width: 40%;
  }
  .home-text01 {
    color: #ecf0f1;
  }
  .home-text02 {
    color: #ecf0f1;
  }
  .home-text03 {
    color: #ecf0f1;
  }
  .home-text04 {
    color: #ecf0f1;
  }
  .home-text06 {
    color: #ecf0f1;
  }
  .home-text10 {
    color: #ecf0f1;
  }
  .home-text14 {
    color: #ecf0f1;
  }
  .home-text18 {
    color: #ecf0f1;
  }
  .home-text22 {
    color: #ecf0f1;
  }
  .home-text26 {
    color: #ecf0f1;
  }
  .home-text29 {
    color: #ecf0f1;
  }
  .home-text35 {
    color: #ecf0f1;
  }
  .home-text43 {
    color: #ecf0f1;
  }
  .home-text46 {
    color: #ecf0f1;
  }
  .home-text47 {
    color: #ecf0f1;
  }
  .home-text48 {
    color: #ecf0f1;
  }
  .home-footer {
    height: 129px;
  }
  .home-link {
    color: #ecf0f1;
  }
}
@media(max-width: 1200px) {
  .home-hero {
    background-color: var(--dl-color-gray-black);
  }
  .home-heading {
    color: #ecf0f1;
    margin-bottom: var(--dl-space-space-tenunits);
    letter-spacing: 2px;
  }
  .home-image {
    width: 40%;
  }
  .home-text {
    color: #26a7de;
  }
  .home-text01 {
    color: #ecf0f1;
  }
  .home-text02 {
    color: #ecf0f1;
  }
  .home-text03 {
    color: #ecf0f1;
  }
  .home-text04 {
    color: #ecf0f1;
  }
  .home-text06 {
    color: #ecf0f1;
  }
  .home-text10 {
    color: #ecf0f1;
  }
  .home-text14 {
    color: #ecf0f1;
  }
  .home-text18 {
    color: #ecf0f1;
  }
  .home-text22 {
    color: #ecf0f1;
  }
  .home-text26 {
    color: #ecf0f1;
  }
  .home-text29 {
    color: #ecf0f1;
  }
  .home-text35 {
    color: #ecf0f1;
  }
  .home-text43 {
    color: #ecf0f1;
  }
  .home-text46 {
    color: #ecf0f1;
  }
  .home-text47 {
    color: #ecf0f1;
  }
  .home-text48 {
    color: #ecf0f1;
  }
  .home-footer {
    background-color: var(--dl-color-gray-black);
  }
  .home-link {
    color: #ecf0f1;
  }
}
@media(max-width: 991px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .home-heading {
    color: #ecf0f1;
    font-size: 45px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.22;
    margin-bottom: var(--dl-space-space-tenunits);
    letter-spacing: 2px;
    text-transform: none;
    text-decoration: none;
  }
  .home-content-container {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column-reverse;
  }
  .home-hero-text {
    width: 80%;
  }
  .home-image {
    width: 40%;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .home-text01 {
    color: rgb(236, 240, 241);
  }
  .home-text02 {
    color: #ecf0f1;
  }
  .home-text03 {
    color: #ecf0f1;
  }
  .home-text04 {
    color: #ecf0f1;
  }
  .home-text06 {
    color: rgb(236, 240, 241);
    text-decoration: none;
  }
  .home-text10 {
    color: rgb(236, 240, 241);
    text-decoration: none;
  }
  .home-text14 {
    color: rgb(236, 240, 241);
  }
  .home-text18 {
    color: rgb(236, 240, 241);
  }
  .home-text22 {
    color: rgb(236, 240, 241);
    text-decoration: none;
  }
  .home-text26 {
    color: rgb(236, 240, 241);
    text-decoration: none;
  }
  .home-text29 {
    color: rgb(236, 240, 241);
  }
  .home-text35 {
    color: rgb(236, 240, 241);
  }
  .home-text43 {
    color: rgb(236, 240, 241);
    text-decoration: none;
  }
  .home-text46 {
    color: rgb(236, 240, 241);
  }
  .home-text47 {
    color: rgb(236, 240, 241);
  }
  .home-text48 {
    color: rgb(236, 240, 241);
  }
  .home-footer-container {
    background-color: var(--dl-color-gray-black);
  }
  .home-footer {
    width: auto;
    padding: var(--dl-space-space-fiveunits);
    background-color: var(--dl-color-gray-black);
  }
  .home-link {
    color: #ecf0f1;
    font-size: 14px;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .home-heading {
    color: #ecf0f1;
    font-size: 45px;
    margin-bottom: var(--dl-space-space-tenunits);
    letter-spacing: 2px;
  }
  .home-image {
    width: 40%;
  }
  .home-text01 {
    color: #ecf0f1;
  }
  .home-text02 {
    color: #ecf0f1;
  }
  .home-text03 {
    color: #ecf0f1;
  }
  .home-text04 {
    color: #ecf0f1;
  }
  .home-text06 {
    color: #ecf0f1;
  }
  .home-text10 {
    color: #ecf0f1;
  }
  .home-text14 {
    color: #ecf0f1;
  }
  .home-text18 {
    color: #ecf0f1;
  }
  .home-text22 {
    color: #ecf0f1;
  }
  .home-text26 {
    color: #ecf0f1;
  }
  .home-text29 {
    color: #ecf0f1;
  }
  .home-text35 {
    color: #ecf0f1;
  }
  .home-text43 {
    color: #ecf0f1;
  }
  .home-text46 {
    color: #ecf0f1;
  }
  .home-text47 {
    color: #ecf0f1;
  }
  .home-text48 {
    color: #ecf0f1;
  }
  .home-footer {
    background-color: var(--dl-color-gray-black);
  }
  .home-link {
    color: #ecf0f1;
    font-size: 14px;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-container {
    background-color: var(--dl-color-gray-black);
  }
  .home-hero {
    opacity: 1;
    align-items: center;
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
    background-color: var(--dl-color-gray-black);
  }
  .home-heading {
    color: rgb(236, 240, 241);
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 2px;
    text-transform: none;
    text-decoration: none;
  }
  .home-content-container {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-hero-text {
    width: 100%;
  }
  .home-image {
    width: 40%;
  }
  .home-text01 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text02 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text03 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text04 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text06 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text10 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text14 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text18 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text22 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text26 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text29 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text35 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text43 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text46 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text47 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-text48 {
    color: #ecf0f1;
    font-family: Roboto;
  }
  .home-footer {
    padding: 0px;
    background-color: var(--dl-color-gray-black);
  }
  .home-link {
    color: #ecf0f1;
    font-size: 14px;
    text-align: center;
    padding-top: var(--dl-space-space-doubleunit);
  }
}
